*{
    border-radius: 5px ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #e7e7e7;
    font-family: "IBM Plex Mono", monospace;
    font: #222;
}
.display {
    width: 360px;
    padding-top: 10px ; 
    margin-left: 10px;
    background-color: #bbdccb;;
    margin-bottom: 2em ;
    margin-top: 2rem ;
}

.screen {
    height: 1em;
    padding: 10px;
    color: #64796f;
    text-align: end;
    font-weight: bold;
    font-size: 24px ;
}   
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px ;
    border-radius: 15px ;
    border: 2px solid black ;
    width: 380px ;
    height: 550px;
    padding: 1.6rem; 
    background-color: #e7e7e7;
    padding-bottom: 50px ;
}
button {
    font-family: inherit;
    font-size: 1.5em;
    border: 1px solid black; 
}

button:hover {
    background-color: rgb(201, 202, 202);
}

.erase {
    padding-left: 7px ;
}

.digits {
    width: 350px;
    padding-left:7px ;
}

.undo {
    margin: 5px ;
    width: 123px ;
    height: 75px ;
    background-color: #fb9d5b;
    color: white; 

}
.numbers, 
.mathSigns
  {
    margin: 5px ;
    height: 75px;
    width: 75px; 
}    

.mathSigns {
    background-color: #9ae3d8;
}

.non-operators { 
    width: 290px 
}

.non-display {
    display: flex;
}

#num0 {
    width: 170px ;
}